html {
    font-family: 'Tilt Neon', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    margin: 0;
}

h1{
    font-size: 10px;
}

.everything {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 1300px;
    height: 100vh;
}

.pic {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.backg {
    height: 100vh;
    width: 480px;
}

.logoD {
    height: 140px;
    position: relative;
    background-color: rgb(20, 20, 20, 0.6);
    top: -725px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20%;
    height: 90%;
    opacity: 100%;
}

.logoD p {
    opacity: 100%;
    color: white;
    font-size: 80px;
    margin: 0;
    opacity: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex-grow: 1;
    height: 100vh;
}

.intro{
    display: flex;
    overflow: auto;
}

.intro p{
    padding-left: 40px;
    padding-top: 120px;
    padding-bottom: 20px;
    padding-right: 150px;
    font-size: 1.4rem;
}

.login {
    display: flex;
}

.upper {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.5);
    padding-left: 40px;
    overflow: hidden;
    width: 778px;
}

.upper p{
    font-size: 1.3rem;
}

.beg, .mid, .end{
    display: flex;
    gap: 80px;
    padding-bottom: 30px;
}

.beg div, .mid div, .end div{
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 5px;
    height: 25px;
    width: 250px;
}

.lower {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 42px;
}

p span {
    color: rgb(57, 90, 45);
    font-weight: bold;
}

button{
    background-color: rgba(57, 90, 45, 0.9);
    color: white;
    border-radius: 10px;
    width: 220px;
    height: 50px;
    border: none;
    font-size: 1.1rem;
}